{{ block title }}
    Опрос. Лента социальной сети
{{ endblock }}
{{ block content }}
В какой степени вы испытали указанную эмоцию после просмотра ленты социальной сети в начале эксперимента?
<table class="table">
    <colgroup>
        <col style="width:37%">
        <col style="width:9%">
        <col style="width:9%">
        <col style="width:9%">
        <col style="width:9%">
        <col style="width:9%">
        <col style="width:9%">
        <col style="width:9%">
    </colgroup>
    <style type="text/css">
    .txtVertical
    {
        position: relative;
        left: 13px;
    }
    </style>
    <thead>
        <tr align = "center">
            <th></th>
            <th>Совсем нет (1)</th>
            <th>В некоторой (2)</th>
            <th>Умеренно (3)</th>
            <th>Очень (4)</th>
            <th>Крайне (5)</th>
        </tr>
    </thead>
    <tbody>
    {% for field in form %}
        <tr>
            <th>{{ field.label }}</th>
            {% for choice in field %}
            <td class="txtVertical"><center>{{ choice }}</center></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

    {{ next_button }}

{{ endblock }}
